.Settings {
    background-color: #f2f2f2;
    padding: 0em 1.5em;
    border-top: 1px solid #e4e4e4;
    display: flex;
}

.left-settings {
    margin-right: auto;
}

.Settings ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

li {
    list-style: none;
}

.right-settings {
    /* width: 100px; */
    /* margin-left: auto; */
}

.right-settings ul {
    /* margin-left: auto; */
    width: 200px;

}